* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Inter;
}
body {
  background-color: #3b4664;
}
.container {
  width: 75%;
  height: 450px;
  margin: 90px auto;
  border-radius: 14px;
}

.box {
  height: 380px;
  background-color: #252d44;
  width: 350px;
  margin: 10px auto;
  padding-left: 20px;
  border-radius: 12px;
}
form #display {
  height: 70px;
  width: 350px;
  background-color: #252d44;
  margin-left: 348px;
 
}
#display {
  font-size: 35px;
  border: none;
  outline: none;
  color: white;
  text-align: right;
  font-weight: 800;
  padding: 15px;
  border-radius: 10px;
  background: transparent;
}
.btn {
  margin: 25px 0px 0px 5px;
  width: 70px;
  height: 42px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgb(214, 214, 214);
}

#grid{
  display: grid;
grid-template-columns: repeat(2, 2fr);
}
#reset,
#equal{
  width: 140px;
}